<form method="post">
    <label>first number: </label><br />
    <input type="text" name="firstNumber" /><br /><br />
    <select name="digit">
            <option value="+">+</option>
            <option value="-">-</option>
            <option value="*">*</option>
            <option value="/">/</option>
    </select>
    <label>second number: </label><br />
    <input type="text" name="secondNumber" /><br /><br />
    <input type="submit" value="Отправить" />
</form>